In [3]:
import pandas as pd

In [4]:
dataset = pd.read_csv("CAPSTONE DATABASE/final.csv")

In [5]:
dataset.head()

,5.78026095,2.76847791,5.41724501,4.84268438,0.69999374,0.34205703,4.46347628,2.49279236,1.60401009,1.83542371,...,2.13828748,0.57668507,1.96571404,0.27724985,0.89456408,1.01918865,2.76798463,0.44583251,0.47695485,0.0
0,5.780394,2.768310,5.417510,4.842808,0.699963,0.342061,4.463811,2.492679,1.603980,1.835507,...,2.138226,0.576693,1.965594,0.277254,0.894579,1.019259,2.768057,0.445790,0.476949,0.0
1,5.780598,2.768239,5.417487,4.843149,0.699919,0.342055,4.463644,2.492835,1.603877,1.835508,...,2.138337,0.576692,1.965569,0.277247,0.894578,1.019249,2.768055,0.445772,0.476948,0.0
2,5.780843,2.768181,5.417957,4.843350,0.699914,0.342061,4.463500,2.492772,1.603925,1.835461,...,2.138287,0.576703,1.965570,0.277244,0.894579,1.019251,2.768096,0.445738,0.476939,0.0
3,5.780524,2.768465,5.417796,4.842823,0.699921,0.342052,4.463093,2.492698,1.603979,1.835478,...,2.138178,0.576706,1.965624,0.277253,0.894573,1.019258,2.768072,0.445708,0.476941,0.0
4,5.780223,2.768439,5.417750,4.842816,0.699892,0.342051,4.463409,2.492579,1.603897,1.835448,...,2.138303,0.576701,1.965617,0.277243,0.894564,1.019205,2.768295,0.445672,0.476950,0.0

In [6]:
dataset.tail()

,5.78026095,2.76847791,5.41724501,4.84268438,0.69999374,0.34205703,4.46347628,2.49279236,1.60401009,1.83542371,...,2.13828748,0.57668507,1.96571404,0.27724985,0.89456408,1.01918865,2.76798463,0.44583251,0.47695485,0.0
11379,5.931808,2.828546,5.544698,4.964612,0.712117,0.355185,4.538470,2.492104,1.639853,1.849116,...,2.222816,0.578965,2.011933,0.279097,0.895810,1.040690,2.819285,0.481616,0.478998,1.0
11380,5.931038,2.828375,5.544332,4.964058,0.711894,0.355172,4.538206,2.492068,1.639714,1.849077,...,2.222749,0.578961,2.011568,0.279094,0.895737,1.040721,2.819743,0.481172,0.478987,1.0
11381,5.931038,2.828590,5.544163,4.964574,0.711739,0.355149,4.538000,2.492056,1.639837,1.849133,...,2.222710,0.578967,2.011512,0.279101,0.895773,1.040718,2.819969,0.481113,0.479006,1.0
11382,5.931013,2.828444,5.544513,4.964635,0.711742,0.355123,4.538102,2.491879,1.639779,1.849193,...,2.222737,0.578973,2.011736,0.279098,0.895773,1.040770,2.819412,0.481105,0.479007,1.0
11383,5.931363,2.828597,5.544974,4.964828,0.711780,0.355129,4.538416,2.491952,1.639942,1.849090,...,2.222776,0.578975,2.011500,0.279099,0.895817,1.040756,2.819324,0.481144,0.478992,1.0

In [7]:
tbneg = pd.read_csv("CAPSTONE DATABASE/TB NEG/Rectified/HC001.csv") #CAPSTONE DATABASE/TB NEG/HC001.csv

In [8]:
tbneg['S1'].mean()

5.7821332748634795

In [9]:
print(tbneg.keys())

Index(['Time', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Ambient Temp [C]',
       'Therm1 [volts]', 'Battery Raw Reading', 'Flag', 'S1', 'S2', 'S3', 'S4',
       'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15',
       'S16', 'S17', 'S18', 'S19', 'S20', 'S21', 'S22', 'S23', 'S24', 'S25',
       'S26', 'S27', 'S28', 'S29', 'S30', 'S31', 'S32'],
      dtype='object')

In [10]:
tbneg.drop(tbneg.columns[[0,1,2,3]], axis=1, inplace=True)

In [11]:
tbneg.head()

,Ambient Temp [C],Therm1 [volts],Battery Raw Reading,Flag,S1,S2,S3,S4,S5,S6,...,S23,S24,S25,S26,S27,S28,S29,S30,S31,S32
0,35.0,1.211548,4095.0,0,5.781849,2.768626,5.419640,4.843829,0.700669,0.342188,...,0.758844,2.138055,0.576709,1.965907,0.277250,0.894820,1.019403,2.768874,0.446352,0.476987
1,35.0,1.212158,4095.0,0,5.780850,2.768654,5.419576,4.843322,0.700730,0.342195,...,0.758828,2.138179,0.576700,1.966035,0.277259,0.894849,1.019378,2.768695,0.446369,0.476994
2,35.0,1.212769,4095.0,0,5.781212,2.768640,5.419447,4.843226,0.700724,0.342182,...,0.758853,2.138109,0.576699,1.965938,0.277251,0.894808,1.019406,2.768793,0.446381,0.477000
3,35.0,1.210938,4095.0,0,5.780809,2.768572,5.419293,4.843789,0.700709,0.342185,...,0.758847,2.138149,0.576701,1.965759,0.277257,0.894840,1.019388,2.768863,0.446383,0.476984
4,35.0,1.212158,4095.0,0,5.781110,2.768540,5.419345,4.844029,0.700727,0.342218,...,0.758862,2.138098,0.576699,1.965818,0.277259,0.894841,1.019405,2.768808,0.446391,0.476984

In [12]:
tbneg.drop(tbneg.columns[[0,1,2,3]], axis=1, inplace=True)

In [13]:
tbneg.head()

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,...,S23,S24,S25,S26,S27,S28,S29,S30,S31,S32
0,5.781849,2.768626,5.419640,4.843829,0.700669,0.342188,4.463546,2.492374,1.604312,1.835539,...,0.758844,2.138055,0.576709,1.965907,0.277250,0.894820,1.019403,2.768874,0.446352,0.476987
1,5.780850,2.768654,5.419576,4.843322,0.700730,0.342195,4.463808,2.492462,1.604390,1.835551,...,0.758828,2.138179,0.576700,1.966035,0.277259,0.894849,1.019378,2.768695,0.446369,0.476994
2,5.781212,2.768640,5.419447,4.843226,0.700724,0.342182,4.463772,2.492448,1.604399,1.835552,...,0.758853,2.138109,0.576699,1.965938,0.277251,0.894808,1.019406,2.768793,0.446381,0.477000
3,5.780809,2.768572,5.419293,4.843789,0.700709,0.342185,4.463486,2.492451,1.604394,1.835537,...,0.758847,2.138149,0.576701,1.965759,0.277257,0.894840,1.019388,2.768863,0.446383,0.476984
4,5.781110,2.768540,5.419345,4.844029,0.700727,0.342218,4.463541,2.492401,1.604372,1.835609,...,0.758862,2.138098,0.576699,1.965818,0.277259,0.894841,1.019405,2.768808,0.446391,0.476984

In [14]:
d1 = tbneg.mean(axis = 0)

In [15]:
d1.T

S1     5.782133
S2     2.769264
S3     5.424219
S4     4.843676
S5     0.704096
S6     0.342771
S7     4.464379
S8     2.492446
S9     1.606073
S10    1.835967
S11    1.326801
S12    0.557694
S13    0.754116
S14    0.518615
S15    1.254236
S16    1.175101
S17    0.813150
S18    0.779737
S19    0.747444
S20    0.909272
S21    0.514530
S22    0.595269
S23    0.760718
S24    2.138571
S25    0.576764
S26    1.967537
S27    0.277270
S28    0.895345
S29    1.020238
S30    2.770343
S31    0.466101
S32    0.477085
dtype: float64

In [16]:
d1['S1']

5.7821332748634795

In [17]:
df1 = pd.DataFrame(d1)

In [19]:
df1_transposed=df1.transpose()

In [20]:
df1_transposed

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,...,S23,S24,S25,S26,S27,S28,S29,S30,S31,S32
0,5.782133,2.769264,5.424219,4.843676,0.704096,0.342771,4.464379,2.492446,1.606073,1.835967,...,0.760718,2.138571,0.576764,1.967537,0.27727,0.895345,1.020238,2.770343,0.466101,0.477085

In [21]:
tbpos=pd.read_csv("CAPSTONE DATABASE/TB POS/Rectified/TB001.csv")

In [22]:
tbpos['S1'].mean()

5.746927586593596

In [23]:
print(tbneg.keys())

Index(['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11',
       'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21',
       'S22', 'S23', 'S24', 'S25', 'S26', 'S27', 'S28', 'S29', 'S30', 'S31',
       'S32'],
      dtype='object')

In [24]:
print(tbpos.keys())

Index(['Time', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Ambient Temp [C]',
       'Therm1 [volts]', 'Battery Raw Reading', 'Flag', 'S1', 'S2', 'S3', 'S4',
       'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15',
       'S16', 'S17', 'S18', 'S19', 'S20', 'S21', 'S22', 'S23', 'S24', 'S25',
       'S26', 'S27', 'S28', 'S29', 'S30', 'S31', 'S32'],
      dtype='object')

In [25]:
tbpos.drop(tbpos.columns[[0,1,2,3]], axis=1, inplace=True)

In [26]:
tbpos.drop(tbpos.columns[[0,1,2,3]], axis=1, inplace=True)

In [27]:
tbpos.head()

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,...,S23,S24,S25,S26,S27,S28,S29,S30,S31,S32
0,5.746954,2.751918,5.395266,4.811720,0.706939,0.347340,4.444000,2.497363,1.617071,1.835487,...,0.762293,2.123345,0.577090,1.979301,0.277744,0.906532,1.029892,2.782076,0.454447,0.478139
1,5.746537,2.751724,5.395456,4.812336,0.706953,0.347349,4.443806,2.497405,1.617133,1.835344,...,0.762304,2.123270,0.577087,1.979258,0.277753,0.906521,1.029896,2.782436,0.454445,0.478138
2,5.746812,2.752053,5.395921,4.811863,0.706991,0.347364,4.444070,2.497397,1.617025,1.835446,...,0.762281,2.123241,0.577078,1.979172,0.277753,0.906545,1.029878,2.782115,0.454457,0.478129
3,5.746602,2.752078,5.395347,4.811775,0.707002,0.347340,4.444146,2.497388,1.617153,1.835499,...,0.762294,2.123442,0.577074,1.979198,0.277744,0.906559,1.029870,2.781833,0.454501,0.478136
4,5.746517,2.752032,5.395573,4.811823,0.706983,0.347343,4.444137,2.497328,1.617185,1.835415,...,0.762301,2.123241,0.577073,1.979280,0.277750,0.906549,1.029944,2.782019,0.454461,0.478130

In [28]:
d2 = tbpos.mean(axis = 0)

In [29]:
d2

S1     5.746928
S2     2.751888
S3     5.397662
S4     4.812159
S5     0.709177
S6     0.347656
S7     4.444054
S8     2.497277
S9     1.617583
S10    1.835514
S11    1.332699
S12    0.558918
S13    0.755191
S14    0.518104
S15    1.256088
S16    1.176475
S17    0.812970
S18    0.786490
S19    0.743264
S20    0.924638
S21    0.514758
S22    0.596752
S23    0.763253
S24    2.122725
S25    0.577092
S26    1.979428
S27    0.277736
S28    0.906681
S29    1.030072
S30    2.782834
S31    0.469050
S32    0.478146
dtype: float64

In [30]:
df2 = pd.DataFrame(d2)

In [31]:
df2_transposed=df2.transpose()

In [32]:
df2_transposed

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,...,S23,S24,S25,S26,S27,S28,S29,S30,S31,S32
0,5.746928,2.751888,5.397662,4.812159,0.709177,0.347656,4.444054,2.497277,1.617583,1.835514,...,0.763253,2.122725,0.577092,1.979428,0.277736,0.906681,1.030072,2.782834,0.46905,0.478146